# Node
node_modules/
npm-debug.log*
yarn.lock

# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage
coverage/

# IDE
.vscode/
.idea/
